Tests/WCFTests/Connected Services/DaemonServ/met.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:668/met?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parcs" />
  <xs:import schemaLocation="http://localhost:668/met?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Parcs.WCF" />
  <xs:element name="CreatePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="channelType" type="q1:ChannelType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="controlSpaceData" nillable="true" type="q2:ControlSpace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="CreatePointResult" nillable="true" type="q3:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyControlSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="data" nillable="true" type="q4:ControlSpace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyControlSpaceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Parcs.WCF" minOccurs="0" name="data" nillable="true" type="q5:FileTransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>