Tests/WCFTests/Connected Services/DaemonServ/met5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Parcs.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Parcs.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:668/met?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parcs" />
  <xs:complexType name="FileTransferData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="ControlSpace" nillable="true" type="q1:ControlSpace" />
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileTransferData" nillable="true" type="tns:FileTransferData" />
</xs:schema>