Tests/WCFTests/Connected Services/PointServ/met.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Parcs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Parcs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:669/met?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:669/met?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:669/met?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointID" type="ser:guid" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:ChannelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:simpleType name="ChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="TCP" />
      <xs:enumeration value="NamedPipe" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelType" nillable="true" type="tns:ChannelType" />
  <xs:complexType name="PointStartInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsStatic" type="xs:boolean" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamespaceAndClass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointStartInfo" nillable="true" type="tns:PointStartInfo" />
  <xs:complexType name="ControlSpace">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelsOnCurrentDaemon" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:PointCreationManager" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DaemonAdresses" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlSpace" nillable="true" type="tns:ControlSpace" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="PointCreationManager">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="rand" nillable="true" type="q2:Random" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointCreationManager" nillable="true" type="tns:PointCreationManager" />
</xs:schema>