Tests/WCFTests/Connected Services/PointServ/met3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:669/met?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Parcs" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="from" nillable="true" type="q1:Channel" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="to" nillable="true" type="q2:Channel" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="info" nillable="true" type="q3:PointStartInfo" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="space" nillable="true" type="q4:ControlSpace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="from" nillable="true" type="q5:Channel" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="to" nillable="true" type="q6:Channel" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="to" nillable="true" type="q7:Channel" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="channel" nillable="true" type="q8:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChannelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>