Parcs/Connected Services/DaemonAutoGeneratedClient/Parcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Parcs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Parcs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="TCP" />
      <xs:enumeration value="NamedPipe" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelType" nillable="true" type="tns:ChannelType" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointID" type="ser:guid" />
      <xs:element minOccurs="0" name="Type" type="tns:ChannelType" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
</xs:schema>