Parcs/Connected Services/DaemonAutoGeneratedClient/Parcs.WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Parcs.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Parcs.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Parcs" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ControlSpaceData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="Channels" nillable="true" type="q1:ArrayOfChannel" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlSpaceData" nillable="true" type="tns:ControlSpaceData" />
</xs:schema>