Parcs/Connected Services/DaemonAutoGeneratedClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Parcs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Parcs.WCF" />
  <xs:element name="CreatePont">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="channelType" type="q1:ChannelType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Parcs.WCF" minOccurs="0" name="controlSpaceData" nillable="true" type="q2:ControlSpaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePontResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Parcs" minOccurs="0" name="CreatePontResult" nillable="true" type="q3:Channel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyControlSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Parcs.WCF" minOccurs="0" name="data" nillable="true" type="q4:ControlSpaceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyControlSpaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyControlSpaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>